body{
    margin: 0px;
    padding: 0px;
    font-family:'vazirmatn', sans-serif;
    
    
}
@font-face {
    font-family: 'vazirmatn';
    src: url(./Vazirmatn-Regular.ttf);
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 5px;
    position: fixed;
    top: 0px;
}
.nav-left{
    display: flex;
    align-items: center;
    
    
}
.nav-left .hamburger{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
    
}

.nav-left .youtube-icon{
    display: flex;
    margin-left: 20px;
    align-items: center;
    
    
}
.youtube-icon svg{
    width: 30px;
    fill: red;
}
.nav-center{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
.nav-center .search-bar{
    display: flex;
    width: 70%;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px;
}
.nav-center .search-bar input{
    border: none;
    outline: none;
    width: 100%;
}
.nav-center .search-bar svg{
    margin-left: auto;
    cursor: pointer;
    
}

.nav-center .micro-icon{
    width: 25px;
    height: 25px;
    background: rgba(128, 128, 128, 0.774);
    border-radius: 50%;
    margin-left: 10px;
    fill: white;
    padding: 3px;
    cursor: pointer;
}
.nav-center .search-bar svg{
    width: 25px;
    
}
.nav-right{
    
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-right svg{
    width: 25px;
    cursor: pointer;
}
.nav-right .create{
    background: rgba(128, 128, 128, 0.363);
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
    border: none;
}
.nav-right .picture{
    background: rgba(255, 0, 0, 0.445);
    border-radius: 50%;
    padding: 3px;
    margin-right: 20px;
    cursor: pointer;
}

/* ...........main............ */
.container{
    margin: 80px 20px 20px 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.container .component{
    transition: background-color 0.5s, transform 0.5s;
    padding: 10px;
}
.container .component:hover{
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 12px;
    transform: translateY(-4px);
}
.container .component .poster{
    border-radius: 12px;
    width: 100%;
}
.container .caption{
    display: flex;
    gap: 10px;
}
.container .caption .pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.container .caption .subject{
    display: flex;
    flex-direction: column;
}
.container .caption .subject p{
    margin: 0px;
    font-size: 1em;
}
.container .caption .subject a{
    text-decoration: none;
    font-size: 0.9em;
    color: gray;
}
.container .caption .subject span{
    font-size: 0.9em;
    color: gray;
}
@media screen and (max-width:992px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px){
    .container{
        grid-template-columns: 1fr;
    }
}

